/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
$main-color: #343440;
body {
    background: $main-color;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color:#fff;
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: darken($main-color, 2%);
}
.color-light {
    background: lighten($main-color, 17%);
}
